*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body{
    background-color:wheat;
}

h1{
    text-align: center;
    color: rgb(red, green, blue);
    text-shadow: 2px 2px 8px black ;
    text-transform: uppercase;
}

h2{
    color: #000000;
    text-decoration: underline;
  
}

h3{
    text-align: center;
}

section{
    
    text-align: center;
}

footer{
    background-color: rgb(103, 128, 16);
    height: 55px;
    border: 1px solid black;
}

/* ... Linear Gradient Starts Here ...*/

#lin-grad-1 {
    
    height: 500px;
    width: 250px;
    background-color: red; 
    background-image: linear-gradient(0deg, red, yellow);
    margin-bottom: 10px;
  }
  #lin-grad-2 {
    
    height: 500px;
    width: 250px;
    background-color: red; 
    background-image: linear-gradient(90deg, red, yellow);
  }

/* ... Radial Gradient Starts Here ...*/

  #rad-grad-1 {
    height: 500px;
    width: 250px;
    background-color: red; 
    background-image: radial-gradient(circle, red, yellow, green);
    margin-bottom: 10px;
  }

  #rad-grad-2 {
    height: 500px;
    width: 250px;
    background-color: red; 
    background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
  }

/* ... Keyframe animation Starts Here ...*/

  #key-anim {
    width: auto;
    height: 20px;
    background: rgb(245, 245, 245);
    animation: do-anim 1s infinite;
  }
  
  @keyframes do-anim {
    10%   {top: 10px; background: red; width: auto;}
    100% {top: 10px; background: yellow; width: auto;}
  }

